<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>SWAP - Controle de Entrada e Saída de Equipamentos de TI</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">

	</head>
	<body>

		<div class="box box-success">
            <div class="box-header with-border">
              <h3 class="box-title">Consulta Swap</h3>
            </div>
               <div class="container col-8">
  
  <p>Digite algo no campo de entrada para pesquisar itens específicos na lista:</p>  
  <input class="form-control" id="myInput" type="text" placeholder="Search..">
  <br>

                <button>SALVAR</button><button>EDITAR</button><button>EXCLUIR</button><button>PESQUISAR</button>

                

</body>
	</html>
