<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
	<title>SWAP - Controle de Entrada e Saída de Equipamentos de TI</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	
</head>
	
	<body>
<nav>
			<ul>
				<li><a href="#" class="active">AIG SEGUROS</a></li>
				<li><a th:href="@{/cad_user}">Usuários</a><li>
				<li><a th:href="@{/cad_equipamentos}">Equipamentos</a><li>
				<li><a th:href="@{/emprestimo}">Emprestimo</a><li>
				<li><a th:href="@{/devolucao}">Devolução</a><li>
				<li><a th:href="@{/entrega}">Entregas</a><li>
				<li><a th:href="@{/consulta}">Consultas</a><li>
				<li><a th:href="@{/relatorios}">Relatórios</a><li>
				
					
				
			</ul>
		</nav>
	
<head>

	<h3 align="center">Sistema de Inventário de Máquinas - AIG Seguros Brazil</h3>
	<p align="center"><img src="css/img/img1.jpg" alt="AIG" class="alta"></p><br>
	
</body>
	</html>
 